*{
  margin: 0;
  padding: 0;
}
.button{
  width: 145px;
  height: 145px;
  font-size: 50px;
  background-color: grey;
}
.zerobutton{
  width: 292px;
  height: 145px;
  font-size: 50px;
  background-color: grey;
}
.textview{
  width: 580px;
  height: 145px;
  border: 2px solid black;
  background-color: #606060;
  color: white;
  margin: 0 auto;
  display: block;
  font-size: 80px;
  text-align: right;
}
.mainbody{
  margin: 10px auto 0 auto;
}
#op{
  background-color: brown;
}
#cpm{
  background-color: darkgrey;
}
